.food-card-container{
    height: 280px;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border-radius: 0.6rem;
    background-color: var(--card-bg);
    cursor: pointer;

}

.food-card{
    padding: 0.9rem;
    text-decoration: none;
    color: var(--primary-text);
}

.food-img-container{
    width: 220px;
    height: 170px;
}

.food-img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
}

.food-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.food-info p{
    margin: 0;
    margin-top: 0.6rem;
    font-size: 0.83rem;
    cursor: pointer;
}

.food-info p:first-child:hover{
    text-decoration: underline;
}

.add-to-cart{
    width: 90%;
}

.add-to-cart-btn{
    display: flex;
    width: 100%;
    justify-content: center;
    border: none;
    color: var(--button-text);
    background-color: var(--button-bg);
    padding-block: 0.6rem;
    border-radius: 0.45rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: 0.2s;
}

.add-to-cart-btn:hover{
    background-color: var(--button-hover-bg);
}